@font-face {
    font-family: 'ringbearermedium';
    src: url('fonts/ringm___-webfont.woff2') format('woff2'),
         url('fonts/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: #002e2c;
    color: #f9bc60;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
    margin: 0 auto 3rem;
    text-align: center;
}

.bg {
    margin: 0 auto;
    width: 94%;
    height: 65vh;
    background: 65% top url('https://www.hobbitontours.com/media/1289/hobbiton_2016-sjp-127-2.jpg?anchor=center&mode=crop&width=1920&height=600&rnd=131443426310000000');
}

nav {
    width: 25%;
    min-width: 250px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

h1 {
    font-family: 'ringbearermedium', Georgia, serif;
    font-size: 2.5rem;
}

.grid {
    display: grid;
    margin: 50px auto 0;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-items: center;
}

.card {
    height: 280px;
    width: 280px;
    background-color: white;
}

h2 {
    text-transform: capitalize;
}

.main {
    background: center 5% url('https://images.unsplash.com/photo-1576488489579-6967c02c56fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.sides {
    background: top right url('https://images.unsplash.com/photo-1552845683-cfefc701e423?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
}

.drinks {
    background: right / cover url('https://images.unsplash.com/photo-1518176258769-f227c798150e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80');
}

li {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    margin: 0 10px;
}

li:hover, li:focus, li:active {
    border-bottom: 1px solid #f9bc60;
}

.active {
    border-bottom: 1px solid #f9bc60;
}